.basic-product-card-container {
  position: relative;

  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  height: auto;
  justify-content: center;
  padding: 10px;
  transition: transform 0.2s ease;
}

.basic-product-image-container {
  width: 100%;
  height: 15rem;
  display: flex;
  border-radius: 16px;
  overflow: hidden;
}

.basic-product-card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding: 0px;
}

.basic-product-card-details {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 0;
  align-items: left;
  gap: 10px;
  padding-top: 7px;
}

.basic-product-card-container:hover {
  transform: translateY(-4px);
  cursor: pointer; /* Moves up by 2px */
}

.basic-product-card-price {
  font-weight: bold;
}

.basic-product-card-title {
  font-weight: 500;
  font-size: 0.875rem;
  color: #455d63;
  white-space: nowrap;
  overflow: hidden;
}

.price-and-like {
  display: flex;
  justify-content: space-between;
}

.liked-icon {
  margin-right: 10px;
  fill: rgb(255, 85, 80);
  font-size: 20px;
}

.save-icon-container {
  display: flex;
  align-items: center;
  gap: 2px;
  padding: 7px;
  position: absolute;
  background-color: white;
  color: rgb(134, 65, 138);
  border-radius: 50px;
  font-weight: bold;
  top: 15px;
  left: 15px;
  font-size: 0.875rem;
  line-height: 20px;
  z-index: 10;
}
.save-icon {
  font-size: 15px;
  font-weight: bolder;
  fill: rgb(134, 65, 138);
}
