:root {
  --primary-color: rgb(23, 219, 170);
  --dark-green: rgb(1, 83, 84);
  --main-background-color: rgb(236, 239, 241);
  --darker-gray: #212529;
  --dark-gray: #29363d;
  --light-gray: #5c7a89;
}
