.product-slider-container {
  padding: 10px;
  height: 28rem;
}

.slick-next:before {
  color: gray !important;
}

.slick-prev:before {
  color: gray !important;
}

.product-slider-title {
  color: var(--dark-gray);
  padding-bottom: 20px;
  font-size: 2rem;
  line-height: 40px;
  color: #29363d;
}
