.product-details-container {
  padding: 20px;
}

/* price */
.product-details-product-price {
  font-size: 2.2rem;
  line-height: 40px;
  font-weight: 630;
  margin-bottom: 10px;
  color: var(--dark-gray);
}

.product-details-product-title {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 32px;
  font-weight: 600;
  color: var(--dark-gray);
}

/* category details */
.product-category-specific-details {
  color: var(--light-gray);
  margin: 1em auto 1em;
  font-size: large;
}

/* Shipping status */

.product-details-shipping-status {
  display: flex;
  align-items: center;
  font-weight: 550;
  font-size: 1.2rem;
}
.product-details-shipping-status svg {
  margin-right: 8px;
  vertical-align: middle;
  stroke-width: 1.5px;
}

.product-details-shipping-status svg {
  transform: translateY(1px); /* Adjust the pixel value as needed */
}

/* For available shipping */
.shipping-available {
  color: #86418a;
}

/* For unavailable shipping */
.shipping-unavailable {
  font-size: 0.875rem;
  line-height: 20px;
  gap: 4px;
  padding: 2px 0px;
  color: rgb(92, 122, 137);
  font-weight: bold;
}

/* Ensuring the SVG inherits the color from the parent */
.product-details-shipping-status svg {
  fill: currentColor;
}

.product-details-product-categories {
  display: flex;
  flex-wrap: wrap;
  margin: 1.5em auto 2em;
}

/* Product description */
.product-details-product-description {
  color: var(--light-gray);
  padding: 10px 0;
  line-height: 24px;
  word-wrap: break-word;
  white-space: pre-line;
}

.product-details-product-single-category {
  font-family: WallieFit;
  font-size: 1rem;
  line-height: 16px;
  background-color: #eceff1;
  border-radius: 1rem;
  padding: 8px 16px;
  margin: 4px 0 0 4px;
  color: var(--darker-gray);
  cursor: pointer;
}
